* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.screen{
    height: 100%;
    /*display: flex;*/
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.screen--active {
    display: flex;
}


#opponent-row, #player-row {
    background-color: lightblue;
    min-height: 10%;
    width: 100%;
    text-align: center
}

#opponent-row {
    border-bottom: 2px solid blue;
}
#player-row {
    border-top: 2px solid blue;
}
#main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}


#chat-window {
    height:100%;
    width: 0;
    background-color: lightcoral;
    overflow-x: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}
#chat-log {
    flex-grow:1;
}


#click-choices {
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.click-container {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px; 
    margin: 20px;
}

#game-area {
    display: flex;
    flex-direction: column;
}
#playing-field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.swal2-footer {
    justify-content: space-around!important;
}